body ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
header {
    border-bottom: 2px solid black;
    padding: 15px 0px;
}
#header-wrap {
    max-width: 1000px;
   margin: auto;
   display: flex;
   align-items: center;
   flex-wrap: wrap;

}
header ul {
    display: flex;
    flex-wrap: wrap;
    
}

header ul li a {
    display: flex;
    padding: 10px 15px;
    background:black;
    margin: 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    display: block;
    text-align: center;
  
}
header ul li a:hover {
    background:grey;
}
#logo img {
   max-width: 200px;
}
@media(max-width:987px) {
    
    header ul{
        max-width: 100%;
    }
    header ul li, #logo {
        width: 100%;
        text-align: center;

    }
    header ul li a{
        width: 100%;
        text-align: center;

    }
   
}